nav{
    height: 60px;
    background-color: rgb(20, 105, 105);
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    justify-content: center;
    .navbar-brand{
        color:white;
    }
}