.list-items{
    display:flex;
    margin-left: 10px;
}
.container-list{
    justify-content: center;
    align-items: center;
}
img{
    height:200px;
    width:150px;
}
.filter{
    margin: 10px;
}
.card{
    margin:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
